<header class="topnav">
  <h1><a href="/">Pokemon Daycare</a></h1>
  <nav>
    <span id="nav-label" hidden>Navigation</span>
    <button
      id="topnav-open-btn"
      aria-expanded="false"
      aria-labelledby="nav-label"
    >
      <img src="/menu_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="" />
    </button>
    <div class="topnav-menu" aria-labelledby="nav-label" role="dialog">
      <button id="topnav-close-btn" aria-label="Close">
        <img src="/close_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="" />
      </button>
      <ul class="topnav-links">
        <li class="topnav-items"><a href="/">Home</a></li>
        <li class="topnav-items"><a href="/pokemon">Pokemon</a></li>
        <li class="topnav-items"><a href="/trainers">Trainers</a></li>
        <li class="topnav-items"><a href="/category">Categories</a></li>
      </ul>
    </div>
  </nav>
</header>
