<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="shortcut icon" href="/pikachu.png" type="image/x-icon" />
    <title>Pokemon Daycare | Home</title>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <section class="hero">
        <h1>Pokémon Day Care!</h1>
        <p>Where your partners grow, rest, and discover new beginnings.</p>
      </section>
      <section class="hero-description">
        <p>
          At the Pokémon Day Care, we believe every Pokémon deserves a place to
          relax, learn, and return to their Trainer stronger than ever. Whether
          you're heading out on a long journey, need a little help training your
          team, or are hoping for a new Egg to add to your family, our Day Care
          is the perfect home-away-from-home.
        </p>
      </section>
      <section class="links">
        <ul>
          <li>
            <button><a href="/pokemon">Pokemon</a></button>
          </li>
          <li>
            <button><a href="/trainers">Trainers</a></button>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
