<div class="individual-trainer-form-wrapper">
  <form action="/trainers" method="GET" class="search-trainer-form">
    <label for="trainerName">
      Name:
      <input id="trainerName" type="text" name="trainerName" required/>
    </label>
    <input type="submit" value="Search" />
  </form>
  <button id="addNewTrainerButton">Add New Trainer</button>
</div>

<dialog id="addNewTrainerDialog">
  <form action="/trainers" method="POST" enctype="multipart/form-data">
    <label for="newTrainerName">
      Trainer Name:
      <input id="newTrainerName" name="newTrainerName" type="text" required />
    </label>
    <label for="trainerDescription">
      Description:
      <textarea name="trainerDescription" id="trainerDescription" required></textarea>
    </label>
    <label for="trainerPhoto">
      Add image:
      <input name="trainerPhoto" type="file" accept="image/png" required/>
    </label>
    <input type="submit" value="Add Trainer">
  </form>
</dialog>


<script>
  const addTrainerButton = document.querySelector("#addNewTrainerButton");
  const addTrainerDialog = document.querySelector("#addNewTrainerDialog")

  addTrainerButton.addEventListener("click", () => {
    addTrainerDialog.showModal();
  })
</script>
