@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --pink-red: rgb(245, 19, 79);
}

/* START OF HEADER STYLING */


* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  text-decoration: none;
  color: black;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(255, 30, 67);
}

.topnav * {
  color: azure;
  text-shadow: 2px 2px black, -2px -2px black, -2px 2px black, 2px -2px black;
}

.topnav-links {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  font-size: 1.5rem;
}

.topnav-items {
  padding: 0.5rem;
}

.topnav-items:hover {
  background-color: rgb(201, 17, 47);
  border-radius: 0.75em;
}

header #topnav-open-btn,
header #topnav-close-btn {
  background: none;
  border: none;
}

#topnav-open-btn img,
#topnav-close-btn img {
  width: 2.5rem;
  height: 2.5rem;
}

@media (width < 28.15em) {
  .topnav h1 {
    font-size: 1.5em;
  }
}

@media (width < 22.15em) {
  .topnav h1 {
    font-size: 1em;
  }
}

@media (width >= 40em) {
  #topnav-open-btn,
  #topnav-close-btn {
    display: none;
  }
}

@media (width < 40em) {
  .topnav-menu {
    background-color: var(--pink-red);
    position: fixed;
    inset: 0;
    padding: 1.5rem;
    translate: 100vw 0;
    transition: translate 0.5s ease-in-out;
  }

  .topnav-links {
    flex-direction: column;
    align-items: flex-start;
  }

  #topnav-close-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 6rem;
  }

  #topnav-open-btn[aria-expanded="true"] + .topnav-menu {
    translate: 0;
  }
}

@media (width < 40em) and (prefers-reduced-motion) {
  .topnav-menu {
    translate: 0;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }

  #topnav-open-btn[aria-expanded="true"] + .topnav-menu {
    opacity: 1;
  }
}

/* END OF HEADER STYLING */

img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.trainers,
.pokemons {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 18em));
  gap: 1.2em;
  justify-content: center;
}

.trainers li ul,
.pokemons li ul,
ul.trainers,
ul.pokemons {
  list-style-type: none;
}

.trainer,
.pokemon {
  border: 2px solid black;
  text-align: center;
  height: 30em;

  overflow: hidden;
  border-radius: 1em;
}

.trainer-details,
.pokemon-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.trainer-details li:last-child,
.pokemon-details li:last-child {
  margin: auto 0;
}

.trainer-name,
.pokemon-name {
  font-size: 2rem;
}

.trainer-description,
.pokemon-description {
  padding: 1em;
  text-align: justify;
  font-size: 1rem;
  text-overflow: ellipsis;
}

.pokemon-card-link,
.trainer-card-link {
  text-decoration: none;
  color: black;
}

