@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --pink-red: rgb(245, 19, 79);
  --deep-red: rgb(255, 30, 67);
  --deep-red-hover: rgb(201, 17, 47);
  --soft-red: rgb(216, 19, 52);
  --soft-red: rgb(227, 17, 76);
  --delete-red: rgb(215 50 77);
  --update-red: #d90303b0;
  --form-red: #ed0039cf;
  --form-button-red: #ed003959;
  --form-button-red-hover: #a4002682;

  --normal-type: #a8a77a;
  --normal-type-bg: #a8a77a30;
  --fire-type: #ee8130;
  --fire-type-bg: #ee813030;
  --water-type: #6390f0;
  --water-type-bg: #6390f030;
  --electric-type: #f7d02c;
  --electric-type-bg: #f7d02c30;
  --grass-type: #7ac74c;
  --grass-type-bg: #7ac74c30;
  --ice-type: #96d9d6;
  --ice-type-bg: #96d9d630;
  --fighting-type: #c22e28;
  --fighting-type-bg: #c22e2830;
  --poison-type: #a33ea1;
  --poison-type-bg: #a33ea130;
  --ground-type: #e2bf65;
  --ground-type-bg: #e2bf6530;
  --flying-type: #a98ff3;
  --flying-type-bg: #a98ff330;
  --psychic-type: #f95587;
  --psychic-type-bg: #f9558730;
  --bug-type: #a6b91a;
  --bug-type-bg: #a6b91a30;
  --rock-type: #b6a136;
  --rock-type-bg: #b6a13630;
  --ghost-type: #735797;
  --ghost-type-bg: #73579730;
  --dragon-type: #6f35fc;
  --dragon-type-bg: #6f35fc30;
  --dark-type: #705746;
  --dark-type-bg: #70574630;
  --steel-type: #b7b7ce;
  --steel-type-bg: #b7b7ce30;
  --fairy-type: #d685ad;
  --fairy-type-bg: #d685ad30;
}

/* START OF HEADER STYLING */

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  text-decoration: none;
  color: black;
}

html,
body {
  height: auto;
  min-height: 100vh;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--deep-red);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

.topnav * {
  color: azure;
  text-shadow: 2px 2px black, -2px -2px black, -2px 2px black, 2px -2px black;
}

.topnav-links {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  font-size: 1.5rem;
}

.topnav-items {
  padding: 0.5rem;
}

.topnav-items:hover {
  background-color: var(--deep-red-hover);
  border-radius: 0.75em;
}

header #topnav-open-btn,
header #topnav-close-btn {
  background: none;
  border: none;
}

#topnav-open-btn img,
#topnav-close-btn img {
  width: 2.5rem;
  height: 2.5rem;
}

@media (width < 28.15em) {
  .topnav h1 {
    font-size: 1.5em;
  }
}

@media (width < 22.15em) {
  .topnav h1 {
    font-size: 1em;
  }
}

@media (width >= 40em) {
  #topnav-open-btn,
  #topnav-close-btn {
    display: none;
  }
}

@media (width < 40em) {
  .topnav-menu {
    background-color: var(--pink-red);
    position: fixed;
    inset: 0;
    padding: 1.5rem;
    translate: 100vw 0;
    transition: translate 0.5s ease-in-out;
  }

  .topnav-links {
    flex-direction: column;
    align-items: flex-start;
  }

  #topnav-close-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 6rem;
  }

  #topnav-open-btn[aria-expanded="true"] + .topnav-menu {
    translate: 0;
  }
}

@media (width < 40em) and (prefers-reduced-motion) {
  .topnav-menu {
    translate: 0;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }

  #topnav-open-btn[aria-expanded="true"] + .topnav-menu {
    opacity: 1;
  }
}

/* END OF HEADER STYLING */
/* HERO SECTION */

section.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4em;
  text-align: center;
}

section.hero h1 {
  font-size: 6em;
}

@media (width < 80em) {
  section.hero h1 {
    font-size: 4em;
  }
}

@media (width < 57em) {
  section.hero h1 {
    font-size: 3em;
  }
}

@media (width < 25em) {
  section.hero {
    margin: 2em;
  }

  section.hero h1 {
    font-size: 2.5em;
  }
}

section.hero p {
  font-size: 1em;
  color: rgba(94, 94, 94, 0.756);
  font-style: italic;
}

/* END OF HERO SECTION */

/* HERO DESCRIPTION */
section.hero-description p {
  text-align: center;
  font-size: 1em;
  margin: 6em;
}

@media (width < 35em) {
  section.hero-description p {
    margin: 2em;
  }
}
/* END OF HERO DESCRIPTION */

/* LINKS SECTION */
section.links ul {
  list-style-type: none;
  margin: 4em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

section.links ul li button {
  background-color: none;
  border: none;
  outline: none;
}

section.links ul li button a {
  height: 2em;
  width: 4.75em;
  border-radius: 0.75em;
  padding: 0.5em;
  font-size: 1.5em;
  border: 4px solid rgb(152, 0, 51);
  background-color: var(--deep-red);
}

section.links ul li button a:hover {
  background-color: var(--deep-red-hover);
}

section.links ul li button * {
  color: white;
}

/* END OF HERO DESCRIPTION */

/* POKEMON FORMS */
main.pokemon-main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100%;
}

.pokemon-form-wrapper {
  border-top: 1px solid rgba(255, 255, 255, 0.742);
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  background-color: var(--soft-red);
  gap: 1em;
}

.pokemon-form-wrapper button,
.pokemon-form-wrapper input[type="submit"] {
  color: white;
  padding: 0.5em;
  background-color: rgb(197, 14, 54);
  border: 2px solid black;
  outline: none;
  border-radius: 1em;
}

.pokemon-form-wrapper button:hover,
.pokemon-form-wrapper input[type="submit"]:hover {
  background-color: rgb(105, 7, 29);
}

.pokemon-form-wrapper input,
.pokemon-form-wrapper select {
  padding: 0.4em 0.5em;
  border-radius: 1em;
  border: 2px solid black;
  outline: none;
}

.pokemon-form-wrapper > :nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.pokemon-form-wrapper label {
  color: white;
}

form.filter-pokemon-form,
form.search-pokemon-form {
  display: flex;
  gap: 0.2em;
  flex-direction: column;
}

@media (width < 37.5em) {
  main.pokemon-main {
    grid-template-columns: 1fr 7fr;
  }

  .pokemon-form-wrapper {
    padding: 0.5em 1em;
    gap: 0.75em;
  }

  .pokemon-form-wrapper button,
  .pokemon-form-wrapper input,
  .pokemon-form-wrapper input,
  .pokemon-form-wrapper select {
    width: 10em;
  }
}

@media (width < 28.125em) {
  .pokemon-form-wrapper button,
  .pokemon-form-wrapper input,
  .pokemon-form-wrapper input,
  .pokemon-form-wrapper select {
    width: 7em;
  }
}

@media (width < 25em) {
  .pokemon-form-wrapper * {
    font-size: 0.75em;
  }

  .pokemon-form-wrapper button,
  .pokemon-form-wrapper input,
  .pokemon-form-wrapper input,
  .pokemon-form-wrapper select {
    width: 6.5em;
  }
}
/* END OF POKEMON FORMS */

/* TYPES */

.pokemon.Normal .li.Normal {
  border: 2px solid var(--normal-type);
  background-color: var(--normal-type-bg);
}

.pokemon.Fire,
li.Fire {
  border: 2px solid var(--fire-type);
  background-color: var(--fire-type-bg);
}

.pokemon.Water,
li.Water {
  border: 2px solid var(--water-type);
  background-color: var(--water-type-bg);
}

.pokemon.Electric,
li.Electric {
  border: 2px solid var(--electric-type);
  background-color: var(--electric-type-bg);
}

.pokemon.Grass,
li.Grass {
  border: 2px solid var(--grass-type);
  background-color: var(--grass-type-bg);
}

.pokemon.Ice,
li.Ice {
  border: 2px solid var(--ice-type);
  background-color: var(--ice-type-bg);
}

.pokemon.Fighting,
li.Fighting {
  border: 2px solid var(--fighting-type);
  background-color: var(--fighting-type-bg);
}

.pokemon.Poison,
li.Poison {
  border: 2px solid var(--poison-type);
  background-color: var(--poison-type-bg);
}

.pokemon.Ground,
li.Ground {
  border: 2px solid var(--ground-type);
  background-color: var(--ground-type-bg);
}

.pokemon.Flying,
li.Flying {
  border: 2px solid var(--flying-type);
  background-color: var(--flying-type-bg);
}

.pokemon.Psychic,
li.Psychic {
  border: 2px solid var(--psychic-type);
  background-color: var(--psychic-type-bg);
}

.pokemon.Bug,
li.Bug {
  border: 2px solid var(--bug-type);
  background-color: var(--bug-type-bg);
}

.pokemon.Rock,
li.Rock {
  border: 2px solid var(--rock-type);
  background-color: var(--rock-type-bg);
}

.pokemon.Ghost,
li.Ghost {
  border: 2px solid var(--ghost-type);
  background-color: var(--ghost-type-bg);
}

.pokemon.Dragon,
li.Dragon {
  border: 2px solid var(--dragon-type);
  background-color: var(--dragon-type-bg);
}

.pokemon.Dark,
li.Dark {
  border: 2px solid var(--dark-type);
  background-color: var(--dark-type-bg);
}

.pokemon.Steel,
li.Steel {
  border: 2px solid var(--steel-type);
  background-color: var(--steel-type-bg);
}

.pokemon.Fairy,
li.Fairy {
  border: 2px solid var(--fairy-type);
  background-color: var(--fairy-type-bg);
}

.pokemon.Stellar,
li.Stellar {
  border: 2px solid var(--stellar-type);
  background-color: var(--stellar-type-bg);
}

/* END OF TYPES */

/* POKEMON MAIN */
img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.pokemons {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10em);
  grid-auto-rows: minmax(13em, 1fr);
  gap: 1em;
  justify-content: center;
}

.pokemon {
  border: 2px solid black;
  text-align: center;
  overflow: hidden;
  padding: 1em;
  height: 14em;
  box-sizing: border-box;
}

.pokemon .pokemon-name {
  font-size: 1.5em;
}

.pokemon .pokemon-type {
  font-size: 1em;
}

.pokemons li ul,
ul.trainers,
ul.pokemons {
  list-style-type: none;
}

@media (width < 62.5em) {
  .pokemons {
    grid-auto-rows: minmax(9.5em, 1fr);
  }
}

@media (width < 50em) {
  .pokemons {
    grid-template-columns: repeat(auto-fit, 7em);
    grid-auto-rows: minmax(7.5em, 1fr);
    gap: 0.5em;
    margin: 0.75em;
  }

  .pokemon {
    padding: 0.5em;
    height: 10em;
  }

  .pokemon .pokemon-name {
    font-size: 0.75em;
  }

  .pokemon .pokemon-type {
    font-size: 0.5em;
  }
}

@media (width < 36em) {
  .pokemons {
    grid-auto-rows: minmax(4em, 1fr);
  }
}

@media (width < 28.125em) {
  .pokemons {
    gap: 0.25em;
    margin: 0.75em;
  }

  .pokemon {
    padding: 0.25em;
  }

  .pokemon .pokemon-name {
    font-size: 0.5em;
  }

  .pokemon .pokemon-type {
    font-size: 0.25em;
  }
}
/* END OF POKEMON MAIN */

/* INDIVIDUAL POKEMON  */

main.individual-pokemon-main {
  display: flex;
  min-height: 100%;
  height: auto;
}

.pokemon-individual {
  border: 2px solid black;
  text-align: center;
  overflow: hidden;
  padding: 1em;
  height: 32em;

  width: 14em;
  box-sizing: border-box;
  margin: 2em auto;

  display: flex;
  flex-direction: column;
}

.pokemon-individual > :nth-child(2) {
  margin-top: auto;
  margin-bottom: auto;
}

.pokemon-individual > button {
  border-radius: 0.5em;
  padding: 0.25em;
}

.pokemon-individual button#deletePokemonButton,
.pokemon-individual button#updatePokemonButton {
  color: white;
  border: none;
  outline: none;
  border: 1px solid black;
}

.pokemon-individual button#deletePokemonButton {
  background-color: var(--delete-red);
}

.pokemon-individual button#updatePokemonButton {
  background-color: var(--update-red);
}

.pokemon-individual .pokemon-name {
  font-size: 1.5em;
}

.pokemon-individual .pokemon-type {
  font-size: 1em;
}

@media (width < 31.25em) {
  .pokemon-individual {
    padding: 0.5em;
    height: 19em;
    width: 9em;
    margin: 0.5em minmax(0.5em, auto);
  }

  .pokemon-individual .pokemon-name {
    font-size: 0.75em;
  }

  .pokemon-individual .pokemon-type {
    font-size: 0.5em;
  }

  .pokemon-individual .pokemon-description,
  .pokemon-individual .pokemon-trainer-id {
    font-size: 0.65em;
  }

  .pokemon-individual button#deletePokemonButton,
  .pokemon-individual button#updatePokemonButton {
    font-size: 0.5em;
    padding: 0.1em;
  }
}

.pokemon-individual ul {
  list-style-type: none;
}

/* END OF INDIVIDUAL POKEMON*/
/* POKEMON FORMS */

dialog {
  margin: auto;
}

dialog > form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.4em;
  background-color: var(--form-red);
}

dialog > form label {
  color: white;
}
dialog > form input,
dialog > form textarea {
  padding: 0.3em;
}

dialog > form > textarea {
  height: 3lh;
  resize: none;
}

dialog > form > button,
dialog > form > input[type="submit"] {
  color: white;
  background-color: var(--form-button-red);
  border-radius: 0.5em;
  outline: none;
  border: 2px solid black;
}

dialog > form > button:hover,
dialog > form > input[type="submit"]:hover {
  background-color: var(--form-button-red-hover);
}

dialog > form > label {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

/* END OF POKEMON FORMS */

/* INDIVIDUAL TRAINERS */
main.individual-trainer-main {
  display: flex;
  min-height: 90vh;
}

.individual-trainer-form-wrapper {
  border-top: 1px solid rgba(255, 255, 255, 0.742);
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  background-color: var(--soft-red);
  gap: 1em;
}

.individual-trainer-form-wrapper button,
.individual-trainer-form-wrapper input[type="submit"] {
  color: white;
  padding: 0.5em;
  background-color: rgb(197, 14, 54);
  border: 2px solid black;
  outline: none;
  border-radius: 1em;
}

.individual-trainer-form-wrapper button:hover,
.individual-trainer-form-wrapper input[type="submit"]:hover {
  background-color: rgb(105, 7, 29);
}

.individual-trainer-form-wrapper input,
.individual-trainer-form-wrapper select {
  padding: 0.4em 0.5em;
  border-radius: 1em;
  border: 2px solid black;
  outline: none;
}

.individual-trainer-form-wrapper label {
  color: white;
}

form.search-trainer-form {
  display: flex;
  gap: 0.2em;
  flex-direction: column;
}

form.search-trainer-form label[for="trainerName"] {
  display: flex;
  flex-direction: column;
}

@media (width < 37.5em) {
  main.pokemon-main {
    grid-template-columns: 1fr 7fr;
  }

  .individual-trainer-form-wrapper {
    padding: 0.5em 1em;
    gap: 0.75em;
  }

  .individual-trainer-form-wrapper button,
  .individual-trainer-form-wrapper input,
  .individual-trainer-form-wrapper input,
  .individual-trainer-form-wrapper select {
    width: 10em;
  }
}

@media (width < 28.125em) {
  .individual-trainer-form-wrapper button,
  .individual-trainer-form-wrapper input,
  .individual-trainer-form-wrapper input,
  .individual-trainer-form-wrapper select {
    width: 7em;
  }
}

@media (width < 25em) {
  .individual-trainer-form-wrapper * {
    font-size: 0.75em;
  }

  .individual-trainer-form-wrapper button,
  .individual-trainer-form-wrapper input,
  .individual-trainer-form-wrapper input,
  .individual-trainer-form-wrapper select {
    width: 6.5em;
  }
}

.trainer-pokemon-container {
  margin: 0 auto;
  display: flex;
  gap: 2em;
  align-items: flex-start;
  padding: 2em;
}

.trainer {
  border: 2px solid black;
  text-align: center;
  overflow: hidden;
  padding: 1em;

  width: 14em;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex-shrink: 0;
}

.trainer-name {
  font-weight: 500;
  font-size: 1.4em;
}

button#updateTrainerButton,
button#deleteTrainerButton {
  color: white;
  outline: none;
  border: 2px solid black;
  padding: 0.2em;
  border-radius: 0.4em;
}

dialog input[type="submit"],
dialog button {
  color: white;
  outline: none;
  border: 2px solid black;
  padding: 0.2em;
  border-radius: 0.4em;
  background-color: var(--form-button-red);
}

dialog input[type="submit"]:hover,
dialog button:hover {
  background-color: var(--form-button-red-hover);
}

button#updateTrainerButton {
  background-color: var(--update-red);
}
button#deleteTrainerButton {
  background-color: var(--delete-red);
}

.trainer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
}

@media (width < 56.25em) {
  .trainer-pokemon-container {
    flex-direction: column;
    align-items: center;
  }

  .trainer-name {
    font-size: 0.85em;
  }

  .trainer-description {
    font-size: 0.75em;
  }

  .trainer button#updateTrainerButton,
  .trainer button#deleteTrainerButton {
    font-size: 0.6em;
    padding: 0.2em;
  }
}

@media (width < 31.25em) {
  .trainer-pokemon-container {
    padding: 0;
  }
  .trainer {
    padding: 0.5em;
    /* height: 19em; */
    width: 9em;
    margin: 0.5em minmax(0.5em, auto);
  }

  .trainer-name {
    font-size: 0.75em;
  }

  .trainer-description {
    font-size: 0.65em;
  }

  .trainer button#updateTrainerButton,
  .trainer button#deleteTrainerButton {
    font-size: 0.5em;
    padding: 0.1em;
  }
}

ul.trainers-pokemon {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

ul.trainers-pokemon li {
  width: 5em;
  text-align: center;
  padding: 0.4em;
}

ul.trainers-pokemon li span {
  font-size: 0.8em;
}
/* END OF INDIVIDUAL TRAINERS */

/* TRAINERS PAGE */
main.trainers-main {
  display: flex;
  min-height: 100vh;
}

main.trainers-main ul.trainers {
  padding: 2em;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;

}

@media (width < 31.25em) {
  main.trainers-main ul.trainers {
    padding: 0em;
  }
}

/* END OF TRAINERS PAGE */
